@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* for the header*/
.header {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 12px;
}

ul,
a {
  padding-right: 12px;
  display: flex;
  color: #f9faf8;
  gap: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*hero and image*/
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 90px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  opacity: 0.7;
}

.hero-text {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.hero button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#image-placeholder {
  background-color: grey;
  padding: 120px;
  width: 250px;
  justify-content: space-between;
  color: #f9faf8;
}

/*content*/

.content {
  flex-wrap: wrap;
  padding: 45px;
}

.content h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-flow: row wrap;
}

.duck {
  max-width: 140px;
  max-height: 140px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
  border-color: #3882f6;
  gap: 8px;
  align-items: center;
}

.cards p {
  font-size: 14px;
  color: #1f2937;
  opacity: 0.7;
  text-align: center;
}

.card {
  width: 140px;
}

/*quote part*/

.quote {
  display: flex;
  padding: 80px;
  justify-content: center;
  text-align: left;
  background-color: #e5e7eb;
  flex-flow: column wrap;
}

.quote p {
  font-size: 22px;
  color: #1f2937;
  font-style: italic;
  opacity: 0.9;
  font-weight: lighter;
  margin: 0 130px 0;
  padding-bottom: 22px;
}

.quote .author {
  display: flex;
  text-align: right;
  font-weight: bold;
  flex-direction: row-reverse;
}
